.input-container {
  align-items: center;
}

.input-box {
  flex: 1;
}

.add-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}