.input-container {
  align-items: center;
}

.input-box {
  flex: 1;
}

.add-button {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  top: 10px;
}