.input-container {
  align-items: center;
}

.input-box {
  flex: 1;
}

.add-button {
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  padding: 2px;
  line-height: 0;
  top: 2px;
}

button:focus {
  outline: 2px;
}